body {
    background-image: url("../imgs/bg.jpg");
    background-repeat: no-repeat;
}

.mainBox {
    width: 30%;
    height: 35%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
    background-color: rgba(156,156,156,0.35);
}

.fontBox{
    width: 70%;
    margin-left:15%;
    margin-right: 15%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.whiteTextBold {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    alignment: left;
    color: white;
    line-height: 80%;
}

.whiteTextThin {
    font-family: "Lato", sans-serif;
    font-weight: 200;
    alignment: left;
    color: white;
}

input {
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    alignment: left;
    height: 25px;
    width: 95%;
    margin-bottom: 15px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

input.ng-invalid.ng-touched {
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    alignment: left;
    height: 25px;
    width: 95%;
    margin-bottom: 15px;

    -webkit-box-shadow: 0px 0px 10px  rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 10px  rgba(255,0,0,1);
    box-shadow: 0px 0px 10px  rgba(255,0,0,1);
}

.buttonBox {
    width: 100%;
    height: 50px;
}

.greyButton {
    background-color: dimgrey;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;

    width: 50%;
    height: 23px;
    margin-left: 5%;

    -webkit-box-shadow: 0px 0px 10px  rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px  rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px  rgba(0,0,0,0.2);
}

.greyButton:hover {
    background-color: cadetblue;
    color: white;
}

.greyButton:active {
    background-color: darkgray;
    color: white;
}

.errorBox {
    background-color: rgba(255,0,0,0.15);
    width: 100%;
    color: #8b0500;
    height: 25px;
    margin-bottom: 15px;
    text-align: center;
    align: center;
    padding-top: 5px;
    padding-bottom: 5px;

    font-family: "Lato", sans-serif;
    font-weight: 400;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}